# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# testing files
*.test

# Executables
*.exe
*.out
*.app
/benchmarks/em_amplitudes/.ipynb_checkpoints/
/doc/
/mc_phases/
/src/nn_fit
/scr/wrtie_mc_phases
/src/write_mc_phases
/src/notebooks/
/src/plot_potential
